<html>
<head>
	<title>北京</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/company.css">
	<link href="__STATIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
</head>
<body>

	<!-- 顶部 -->
	<!--北京logo -->
	<div class="logo_bac">
		<center>
		<div class='logo_content'><h2>公司大事件</h2></div></center>
		<!-- 图片轮播显示 -->
		<div class="prev"><p id="page"class="glyphicon glyphicon-chevron-left" onclick="fan(2)"></p></div>
		<div class="lunbo" name="lunbo">
			<ul class="lunbo_ul" >
				<li id="lid1">
					<div class="lunbo_p">	
						<img src="__IMG__/nv.png">
						<span>国内最大的社交电商平台</span>
					</div>
					<div class="lunbo_cont">
							<p align="absmiddle">
								从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资
							</p>
							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid2">
					<div class="lunbo_p">	
						<img src="__IMG__/guazi.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>
							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>


					</div>
				</li>
				<li id="lid3">
					<div class="lunbo_p">	
						<img src="__IMG__/02.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid4">
					<div class="lunbo_p">	
						<img src="__IMG__/jiao.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid5">
					<div class="lunbo_p">	
						<img src="__IMG__/qian.png">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>
						</div>
				</li>

			</ul>


		</div>
<!-- ############################################## -->
		<div class="lunbo" style="display:none" name="lunbo">
			<ul class="lunbo_ul" >
				<li id="lid1">
					<div class="lunbo_p">	
						<img src="__IMG__/mo.jpg">
						<span>国内最大的社交电商平台</span>
					</div>
					<div class="lunbo_cont">
							<p align="absmiddle">
								从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资
							</p>
							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid2">
					<div class="lunbo_p">	
						<img src="__IMG__/02.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>
							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>


					</div>
				</li>
				<li id="lid3">
					<div class="lunbo_p">	
						<img src="__IMG__/02.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid4">
					<div class="lunbo_p">	
						<img src="__IMG__/02.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid5">
					<div class="lunbo_p">	
						<img src="__IMG__/02.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>
						</div>
				</li>

			</ul>


		</div>
<!-- ############################################### -->
<!-- ############################################## -->
		<div class="lunbo" style="display:none" name="lunbo">
			<ul class="lunbo_ul" >
				<li id="lid1">
					<div class="lunbo_p">	
						<img src="__IMG__/mo.jpg">
						<span>国内最大的社交电商平台</span>
					</div>
					<div class="lunbo_cont">
							<p align="absmiddle">
								从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资
							</p>
							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid2">
					<div class="lunbo_p">	
						<img src="__IMG__/mo.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>
							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>


					</div>
				</li>
				<li id="lid3">
					<div class="lunbo_p">	
						<img src="__IMG__/mo.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid4">
					<div class="lunbo_p">	
						<img src="__IMG__/mo.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>

					</div>
				</li>
				<li id="lid5">
					<div class="lunbo_p">	
						<img src="__IMG__/mo.jpg">
						<p>国内最大的社交电商平台</p>
					</div>
					<div class="lunbo_cont">
							<p>从三线城市、小微企业入手， P2B 平台 “钱升钱” 获千万级美金 B 轮融资</p>

							<div class="lianjie">
							<a href=""> AAAA </a>
							</div>
						</div>
				</li>

			</ul>

		</div>


		<div class="next"><p id="page1" class="glyphicon glyphicon-chevron-right" onclick="fan(2)"></p></div>

<!-- ############################################### -->
	</div>	
	<!-- 左侧内容主题 -->
	<div class="left_content">
		<div class="left_con_top">
			<div class="con_ul" style="z-index:1">
				<ul>
					<div class="con_li">
						<li class="con_a" id="bufen">
							<b>公司地点:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							<a href="" class="se">全国</a>
							<a href="">北京</a>
							<a href="">上海</a><a href="">北京</a>
							
							<a href="">上海</a><a href="">北京</a><a href="">上海</a><a href="">北京</a>
							<a href="">上海</a><a href="">北京</a>		
							<p class="glyphicon glyphicon-triangle-bottom" href="" id="yincang" style="cursor:pointer">更多</p>
							<div class="quanguo">
								<ul><li>
								<a href="">襄阳</a>
								<a href="">襄阳</a>
								<a href="">襄阳</a>
								<a href="">襄阳</a>
								<a href="">襄阳</a>
								<a href="">襄阳</a>
								</li></ul>
							</div>

							<br>
						</li>
						<!-- <li id="quanguo" style="display:none">
							<b>公司地点:</b>
							<a href="" class="se">全国</a>
							<a href="">北京</a>
							<a href="">上海</a><a href="">北京</a>
							
							<a href="">上海</a><a href="">北京</a><a href="">上海</a><a href="">北京</a>
							<a href="">上海</a><a href="">北京</a><a href="">上海</a><a href="">北京</a><a href="">上海</a><a href="">北京</a>
							<a href="">上海</a><a href="">北京</a><a href="">上海</a><a href="">北京</a><a href="">上海</a><a href="">北京</a>
							<a href="">上海</a><a href="">北京</a>

							<p class="glyphicon glyphicon-triangle-bottom" href="" id="yincang" style="cursor:pointer">更多</p>

						</li> -->
					</div>
					<div class="con_li" >
						<li class="con_a" style="z-index:1">
							<b >发展阶段:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							<a href="" class="se">不限</a>
							<a href="">初创型</a>
							<a href="">成长型</a>
							<a href="">成熟性</a>
							<a href="">已上市</a>
							<br>

						</li>
					</div>
					<div class="con_li">
						<li class="con_a" style="z-index:1">
							<b>行业领域:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
							<a href="" class="se">不限</a>
							<a href="">移动互联</a>
							<a href="">O2O</a>
							<a href="">游戏</a>
						</li>
					</div>

				</ul>
			</div>

		</div>
		<!-- 排序 -->
		
		<div class="left_con_top2">

		<ul>
			
        <div class="item order">
        	<li><b>排序方式:</b></li>
          	 <li><a href=""class="" >默认排序</a></li>
            <li><a href="" >职位数量 &darr;</a></li>
            <li><a href="" >面试评价数 &darr;</a></li>
            <li><a href="" >简历处理率 &darr;</a></li>
        </div>
		</div>
		</ul>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		// var list=$("li").length;

		// for(i=1;i<=list;i++){
			$("li").each(function(){
				$(this).mouseover(function(){

				$(this).find(".lunbo_cont").css("display","block");

			}).mouseout(function(){

			$(".lunbo_cont").css({display:"none"});

			});	
			})	
		// }
		$("#page1").mouseover(function(){

			$(this).css("opacity","0.8");
		}).mouseout(function(){
			$(this).css("opacity","0.2");

		});
		$("#page").mouseover(function(){
			$(this).css("opacity","0.8");
		}).mouseout(function(){
			$(this).css("opacity","0.2");

		});
		// 城市筛选改变背景色
		$(".se").nextAll('a').hover(function(){
			$(this).css({background:"#00B38B",color:"white"});
		}).mouseout(function(){
			$(this).css({background:"#FAFAFA",color:"black"});
		

		});
		// 更多城市的隐藏
		// var city=$(".con_li>li").length;
		// alert(city);
		$("#yincang").toggle(
			function(){
				$(this).next().css({display:"block","z-index":"4",border:"black"});
			},
			function(){
				$(this).next().css("display","none");
			}

			);
	});
	// ####################轮播特效
	var lunbo=document.getElementsByName("lunbo");
	var m=0;

	function show(){
		for(i=0;i<lunbo.length;i++){
			if(m==i){
			lunbo[i].style.display="block";
			}else{
			lunbo[i].style.display="none";	
			}
		}
	}
	function fan(a){
		clearTimeout(mytime);
		switch(a){
			case"2":
			m=m;
			break;
			case"1":
			m=m-2;
			break;

		}
		fun();
	}
	function fun(){
		show();
		m++;
		
		// alert(m);
		if(m==lunbo.length){
			m=0;
		}
		mytime=setTimeout(fun,3000);
	}
	fun();
	

</script>
</html>